body{
    background: #dde02a;
}
.imag{
    width: 120%;
}
.imag1{
    width: 60%;
}
.imag2{
    width: 50%;
}
.imag3{
    width: 120%;
}
.imag4{
    width: 65%;
}
h1{
    font-size: 100px;
}